In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

<h1 style="color:blue;">Listings information gathering</h1>

In [22]:
listings = pd.read_csv('listings.csv')

<h4 style="color:brown;">We shuffle the dataset beforehand to avoid any patttern while performing analysis and preprocessing</h4>

In [23]:
listings = listings.sample(frac=1).reset_index(drop=True)

In [24]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86064 entries, 0 to 86063
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              86064 non-null  int64
 1   name                            86064 non-null  object
 2   host_id                         86064 non-null  int64
 3   host_name                       86023 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   86064 non-null  object
 6   latitude                        86064 non-null  float64
 7   longitude                       86064 non-null  float64
 8   room_type                       86064 non-null  object
 9   price                           55655 non-null  float64
 10  minimum_nights                  86064 non-null  int64
 11  number_of_reviews               86064 non-null  int64
 12  last_review                     64270 non-null  object
 13  reviews_per_month               64270 non-null  float64
 14  calculated_host_listings_count  86064 non-null  int64
 15  availability_365                86064 non-null  int64
 16  number_of_reviews_ltm           86064 non-null  int64
 17  license                         68046 non-null  object
dtypes: float64(5), int64(7), object(6)
memory usage: 11.8+ MB

In [25]:
calendar = pd.read_csv('calendar.csv')

C:\Users\othma\AppData\Local\Temp\ipykernel_24648\1057505667.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  calendar = pd.read_csv('calendar.csv')

In [26]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31442697 entries, 0 to 31442696
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.6+ GB

In [30]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,1064413560849536820,Joli Studio de grand confort,18272016,Laurent,NaN,Vaugirard,48.835471,2.309164,Entire home/apt,560.0,3,0,NaN,NaN,1,173,0,7511508806777
1,906345973910388579,Appartement cosy proche gares,83357914,Alban,NaN,Entrepôt,48.878910,2.356630,Entire home/apt,432.0,3,0,NaN,NaN,1,364,0,7511008923514
2,37732079,Beau 2P au coeur de Paris,87726989,Ünal,NaN,Batignolles-Monceau,48.886480,2.324130,Entire home/apt,NaN,365,0,NaN,NaN,1,178,0,NaN
3,14264,Charming sunny 2BR in Montmartre !,55995,Lara,NaN,Buttes-Montmartre,48.882590,2.342510,Entire home/apt,NaN,365,10,2020-03-14,0.07,1,180,0,NaN
4,880127702626287659,Studio avec cuisine séparée,56702969,Cruz,NaN,Batignolles-Monceau,48.893400,2.320720,Entire home/apt,NaN,2,20,2024-08-29,1.13,1,0,9,7511708423671

In [31]:
calendar.available.value_counts()

available
f    20302441
t    11140256
Name: count, dtype: int64

In [49]:
calendar[calendar['listing_id'] == 9952]['price'].nunique()

1

In [51]:
unique_prices = calendar.groupby("listing_id")["price"].nunique()
unique_prices

listing_id
3109                   1
5396                   1
7397                   1
7964                   1
9359                   1
                      ..
1367486656757175543    1
1367521823576462473    1
1367614998202872570    1
1367641263049641442    1
1367952986091795215    1
Name: price, Length: 86062, dtype: int64

In [52]:
dynamic_count = (unique_prices > 1).sum()
static_count = (unique_prices == 1).sum()

In [53]:
dynamic_percentage = (unique_prices > 1).mean() * 100

dynamic_percentage

0.20334177685854385

In [54]:
dynamic_count

175

In [55]:
static_count

85887

In [58]:
static_percentage = (unique_prices == 1).mean() * 100
static_percentage

99.79665822314145

In [59]:
# Libraries
import pandas as pd
import numpy as np

# Load datasets
listings = pd.read_csv("listings.csv")
calendar = pd.read_csv("calendar.csv")

# Quick look
print("Listings shape:", listings.shape)
print("Calendar shape:", calendar.shape)

C:\Users\othma\AppData\Local\Temp\ipykernel_24648\1720754983.py:7: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  calendar = pd.read_csv("calendar.csv")

Listings shape: (86064, 18)
Calendar shape: (31442697, 7)

In [60]:
# Count of available vs unavailable days
availability_counts = calendar['available'].value_counts()
print(availability_counts)

# Percentage
availability_percentage = calendar['available'].value_counts(normalize=True) * 100
print(availability_percentage)

available
f    20302441
t    11140256
Name: count, dtype: int64
available
f    64.569655
t    35.430345
Name: proportion, dtype: float64

In [61]:
# Calendar price might be object like "$100.00"
# Remove $ and commas, convert to float
calendar['price'] = calendar['price'].replace('[\$,]', '', regex=True).astype(float)

# Quick check
calendar['price'].head()

0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
Name: price, dtype: float64

In [62]:
# Number of unique prices per listing
unique_prices = calendar.groupby("listing_id")["price"].nunique()

# Count dynamic vs static
dynamic_count = (unique_prices > 1).sum()
static_count = (unique_prices == 1).sum()
dynamic_percentage = (unique_prices > 1).mean() * 100

print("Dynamic listings (more than 1 price):", dynamic_count)
print("Static listings (1 price):", static_count)
print("Dynamic percentage (%):", dynamic_percentage)

Dynamic listings (more than 1 price): 175
Static listings (1 price): 85887
Dynamic percentage (%): 0.20334177685854385